@model Jadwal;

<div class="col-md-8">
    <div class="card card-user">
        <div class="card-header">
            <h5 class="card-title">Create Jadwal</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create" methode="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Pelatihan</label>
                            <input asp-for="pelatihan" class="form-control" placeholder="Bahasa C">
                            <span asp-validation-for="pelatihan" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Tanggal Mulai</label>
                            <input asp-for="TglMulai" class="form-control">
                            <span asp-validation-for="TglMulai" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Tanggal Selesai</label>
                            <input asp-for="TglSelesai" class="form-control">
                            <span asp-validation-for="TglSelesai" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Pertemuan</label>
                            <input asp-for="pertemuan" class="form-control" placeholder="Banyak Pertemuan">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tutor</label>
                            <input asp-for="Tutor" class="form-control" placeholder="Banyak Pertemuan">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Keterangan</label>
                            <textarea asp-for="Keterangan" class="form-control textarea"></textarea>
                            <span asp-validation-for="Keterangan" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round">Tambah data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>