@model User; 

@{ 
    Layout = "_AkunLayout";

    if (!string.IsNullOrEmpty(ViewBag.pesan))
    {
        <script>
            alert("@ViewBag.pesan")
        </script>
    }
}

<form asp-action="Regis" method="post">
    <h1>Create Account</h1>
    <div>
        <input asp-for="Username" type="text" class="form-control" placeholder="Username" required="" />
    </div>
    <div>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" />
    </div>

    <div>
        <a class="btn btn-default submit" href="index.html">Submit</a>
    </div>

    <div class="clearfix"></div>

    <div class="separator">
        <p class="change_link">
            Already a member ?
            <a href="#signin" class="to_register"> Log in </a>
        </p>

    </div>
</form>